<!DOCTYPE html>

<html>

<head>
        <title>About</title>
        <link rel="icon" href="/img/Weather.png">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/one.jpg">
    </div>
    
    {{>footer}}
</body>

</html>    